venv/
.venv/
*.env
__pycache__/
*.pyc
instance/
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
coverage/
htmlcov/
.tox/
.pytest_cache/
migrations/
*.egg-info/
dist/
build/
.envrc
.pyrel/
.ipynb_checkpoints/
migrations/
test_scripts/
