

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('../Medpulse images/Hospital image3.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}


h1 {
  font-size: 3.0rem;
  margin-bottom: 20px;
  color: #8fa8c3;
}

h2 {
  font-size: 1.3rem;
  margin-top: -30px;      /* pulls it closer to h1 */
  margin-left: 320px;     /* nudges it to the right */
  color: #fafbfd;
  font-weight: 400;
  font-style: italic;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.action-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 2px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: #19446f;
  color: rgb(216, 184, 184);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #167cc0;
}

.icon {
  font-size: 1.5rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.feature-card {
  background-color: rgba(165, 149, 149, 0.9);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(138, 132, 132, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #060c11;
}

.feature-description {
  font-size: 0.95rem;
  color: #585757;
  min-height: 60px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .action-button {
    width: 100%;
    justify-content: center;
  }
}


/* #Spacing */

.button-group {
  margin-top: 140px; /* creates space below the headings */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.features {
  margin-top: 120px; /* separates from buttons */
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}


/* #features */


.feature-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}

.feature-list li {
  margin-bottom: 10px;
}

.feature-button {
  background: none;
  border: none;
  color: #072b50;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}

.feature-button:hover {
  color: #f8fbfc;
  text-decoration: underline;
}


