body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url('../MedPulse images/Doctors-together.webp') no-repeat center center fixed;
  background-size: cover;
  color: #070707;
  padding: 40px;
}

.details-container {
  max-width: 700px;
  margin: auto;
  background-color: rgba(169, 161, 161, 0.4);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #090909;
  margin-bottom: 30px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  background-color: #060606;
  color: #f9f5f5;
}

form textarea {
  resize: vertical;
  height: 80px;
}

form select {
  background-color: #060606;
  color: #f9f5f5;
}

.create-button {
  padding: 12px 20px;
  background-color: #167cc0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  margin-top: 20px;
  padding: 15px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}