body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f3f7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                  url('../MedPulse_Images/registration image.jpg');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  height:auto;
}


.form-container {
  background-color: rgba(255, 255, 255, 0.5); /* Soft white with 60% opacity */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative
}

h2 {
  text-align: center;
  color: #040404;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #0c0c0c;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.optional {
  font-size: 0.9rem;
  color: #060606;
  font-style: italic;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #19446f;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #167cc0;
}


.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4edda;
  color: #155724;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.hidden {
  display: none;
}