body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../MedPulse images/Doctors-together.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.form-container {
  max-width: 600px;
  margin: 80px auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #e0e6ec;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #f0f4f8;
}

input, select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #333;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #0c437b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #265d82;
}


.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4edda;
  color: #155724;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.hidden {
  display: none;
}