body {
  font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url('../MedPulse_Images/Doctors-together.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  /* background-color: #222121; */
  padding: 40px;
}

.update-container {
  max-width: 800px;
  margin: auto;
  background-color: rgba(207, 205, 205, 0.4);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0a0a0a;
  margin-bottom: 20px;
}

.search-bar {
  width: 97%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #131313;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #090909;
  color: #ffffff; 
}

.doctor-list {
  list-style: none;
  padding-left: 0;
}

.doctor-list li {
  padding: 10px 15px;
  background-color: #dee2e2;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0a0a0a; 
}

.update-button {
  padding: 6px 12px;
  background-color: #0495f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.update-form {
  margin: 15px 0;
  padding: 20px;
  background-color: #444747;
  border-left: 4px solid #070808;
  border-radius: 8px;
}

.update-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.status-toggle {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #28a745;
  color: white;
  margin-bottom: 12px;
  cursor: pointer;
}

.status-toggle.inactive {
  background-color: #aaa;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-button {
  background-color: #055e19;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-button {
  background-color: #972f06;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.success-message {
  margin-top: 20px;
  padding: 15px;
  background-color: #d4edda;
  color: #0e8ebd;
  border-radius: 8px;
  text-align: center;
}
.hidden {
  display: none;
}