body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url('../MedPulse_Images/Doctors-together.webp') no-repeat center center fixed;
  background-size: cover;
  color: #070707;
  padding: 40px;
}

.department-container {
  max-width: 700px;
  margin: auto;
  background-color: rgba(169, 161, 161, 0.4);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #090909;
  margin-bottom: 40px;
}

.search-bar {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #f9f5f5;
  background-color: #060606;
}

.search-bar::placeholder {
  color: #aaa;
}

.department-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.department-card {
  padding: 15px;
  background-color: #e5d7d7;
  margin-bottom: 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.department-card h3 {
  margin: 0 0 8px;
  color: #090909;
}

.department-card p {
  margin: 0 0 12px;
  color: #070707;
}

.details-button {
  padding: 8px 16px;
  background-color: #060606;
  color: #f9f5f5;
  border: 1px solid #0a0a0a;
  border-radius: 6px;
  cursor: pointer;
}

.department-details {
  background-color: #8f8787;
  padding: 20px;
  border-left: 5px solid #343333;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}